[mysqld]

#################################################
## Charset

character_set_server=utf8
collation_server=utf8_general_ci

#################################################
## Buffers

# MyISAM
;key_buffer_size                 = 200M

# Deafult form docker 256M
innodb_buffer_pool_size         = 256M
innodb_log_buffer_size          = 16M

tmp_table_size      = 200M
max_heap_table_size = 200M

open_files_limit  = 2048
thread_cache_size = 12

# Fast SQL import disabled for security reasons
local_infile=0

#################################################
## Misc

## direct access to files, avoid OS-caching (not posssible in docker)
; innodb_flush_method=O_DIRECT

# Default
;tx_isolation=REPEATABLE-READ
;;transaction-isolation=READ-COMMITTED

#################################################
## Query cache

query_cache_limit = 256k
# Default from Docker 64M
query_cache_size  = 64M
# Set to 1 by default, if query_cache_size defined
;query_cache_type  = 1

#################################################
## Query log

slow_query_log      = 1
slow_query_log_file = /dev/stderr
long_query_time     = 2
; log_queries_not_using_indexes = 1

#################################################
## Connections
##
## keep connections low because each conncetion
## will have their own buffers
## - prevent swapping here -

max_connections    = 40
max_allowed_packet = 16M


#################################################
## TYPO3
##

# TYPO3 8 suppots strict mode: https://forge.typo3.org/issues/72610
;sql_mode=""
